{% extends "base.html" %}

{% block content %}
{% for link in links %}
	<div class="card">
    <div class="card-header">
        {{ link.title }} <i class="bi bi-box-arrow-up-right"></i>
    </div>
    <div class="card-body">
        {{ link.description }}
    </div>
    <div class="card-footer">
        <span class="badge text-bg-secondary">{{ link.category }}</span>
        <div class="small">Added {{ link.created }}</div>
    </div>
    </div>
    &nbsp;
{% endfor %}
    
{% include "pagination.html" %}

{% endblock %}