{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Newsletters{% endblock %}

{% block content %}
    {# TODO: figure out why all accordions are highlighted when page loads #}
    <div class="accordion" id="newsletters-accordion">
        {% for newsletter in newsletters %}
            {% regroup newsletter.get_links_data by category__name as links_by_cat %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#newsletter{{ forloop.counter }}"
                            aria-expanded="false"
                            aria-controls="newsletter{{ forloop.counter }}">
                        {{ newsletter.date_sent|date:"F d, Y" }}
                        {% for links in links_by_cat|slice:":5" %}
                            &nbsp;
                            <span class="badge rounded-pill text-bg-secondary">{{ links.grouper }}: {{ links.list|length }}</span>
                        {% endfor %}
                        {% if links_by_cat|length > 5 %}
                            &nbsp;
                            <span class="badge rounded-pill text-bg-secondary"
                                  title="{% for links in links_by_cat|slice:"5:" %}{{ links.grouper }}: {{ links.list|length }}&#013;{% endfor %}"
                            >
                                &hellip; {{ links_by_cat|length|add:"-5" }} more
                            </span>
                        {% endif %}
                    </button>
                </h2>
                <div class="accordion-collapse collapse"
                     id="newsletter{{ forloop.counter }}"
                     data-bs-parent="#newsletters-accordion">
                    <div class="accordion-body">
                        {% for links in links_by_cat %}
                            <h4>{{ links.grouper|title }}</h4>
                            <ul>
                                {% for link in links.list %}
                                    <li>
                                        <a class="link-dark link-underline-opacity-0 link-underline-opacity-100-hover"
                                           href="{{ link.url }}"
                                           title="{{ link.url }}"
                                           target="_blank"
                                        >
                                            <i class="bi bi-box-arrow-up-right"></i> {{ link.title }}
                                        </a>
                                        <small>
                                            {% with link.created_by__first_name|add:" "|add:link.created_by__last_name as creator_name %}
                                                (Shared by {{ creator_name.strip|default:link.created_by__username }})
                                            {% endwith %}
                                        </small>
                                        <br>
                                        <p>{{ link.description }}</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    {% include "helpers/pagination.html" %}
{% endblock %}
