{% extends "django_bootstrap5/bootstrap5.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block bootstrap5_title %}NewsHub - {% block title %}Collaborative news sharing{% endblock %}{% endblock %}

{% block bootstrap5_extra_head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block bootstrap5_content %}
    <div class="container">
        {% include "helpers/menu.html" %}
        {% bootstrap_messages %}
        {% block content %}It Works!{% endblock %}
    </div>
{% endblock %}
