{% load django_bootstrap5 %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a href="{% url 'news:index' %}" class="navbar-brand">NewsHub</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-content"
                aria-controls="navbar-content"
                aria-expanded="false"
                aria-label="Toggle menu"
        ><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="{% url 'news:index' %}"
                       class="nav-link{% if request.resolver_match.view_name == 'index' %} active{% endif %}"
                       {% if request.resolver_match.view_name == 'index' %}aria-current="page" {% endif %}
                    >Home</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'news:links' %}"
                       class="nav-link{% if request.resolver_match.view_name == 'news:links' %} active{% endif %}"
                       {% if request.resolver_match.view_name == 'news:links' %}aria-current="page" {% endif %}
                    >Links</a>
                </li>

                <li class="nav-item">
                    <form target="{% url 'news:links' %}" class="d-flex" role="search">
                        <input name="search" class="form-control me-2" type="search" placeholder="Search"
                               aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                </li>
                &nbsp;
                <li class="nav-item">
                    <button class="btn btn-outline-success justify-content-end"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#new-link-modal"
                    >Add Link
                    </button>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#" id="navbarDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false"
                    >
                        <img src="" alt="profile picture"> {{ request.user.username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            {# TODO: create profile view and add link here #}
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-person"></i> Profile
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% if request.user.is_staff %}
                            <li>
                                <a class="dropdown-item" href="/admin/">
                                    <i class="bi bi-person-badge"></i> Administration
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            {# TODO: actually logout when clicking logout menu #}
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-box-arrow-right"></i> Log Out
                            </a>
                        </li>
                    </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="new-link-modal" tabindex="-1" aria-labelledby="new-link-modal-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="new-link-modal-title">Add Link</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'news:link_create' %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form new_link_form %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
